<div class="container-fluid">
    <div class="row">
        <div>
            <div class="panel panel-default panel-table" *ngIf="course">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-12">
                            <label>Update Course - {{course.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Id:</label>
                                    <div class="col-sm-9 text-left">
                                        <label class="control-label col-sm-1">{{course.id}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#courseTitle">Course Title:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.title" class="form-control" placeholder="Enter course title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#description">Description:</label>
                                    <div class="col-sm-9">
                                        <textarea [(ngModel)]="course.description" class="form-control" rows="5" placeholder="Enter course description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#reference">Reference:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.reference" class="form-control" placeholder="Enter course reference">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#duration">Duration - Weeks:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.duration" class="form-control" placeholder="Enter course duration in Weeks">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#fees">Fees - £:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.fees" class="form-control" placeholder="Enter course fees in GBP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#status">Status:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.status" class="form-control" placeholder="Enter course status">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#location">Location:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.location" class="form-control" placeholder="Enter course location">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#totalplaces">Total Places:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.totalplaces" class="form-control" placeholder="Enter course total places">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="#availableplaces">Available Places:</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="course.availableplaces" class="form-control" placeholder="Enter course available places">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-9 col-sm-3">
                                        <button (click)="save()" class="btn btn-default">
                                            Save
                                        </button>
                                        <button (click)="goBack()" class="btn">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

