<div class="container-fluid">  
    <div class="well"><h4>Welcome to the Courses Booking System developed using .Net Core, Web API, MVC, Angular 2 and Bootstrap.</h4>
        <h4>The system is hosted on Microsoft Azure using Azure App Service and Continuous deployment.</h4>
        <h4>This page is a Dashboard where the top courses are listed.</h4>
        <h4>Click on the Courses Link on the Navigation Menu to Manage Courses....</h4></div>

    <div class="row">
        <div *ngFor="let course of courses" class="col-sm-3">
            <div class="well" style="background-color:lightgrey;height: 200px">
                <a [routerLink]="['/detail', course.id]">
                    <h5>{{course.title}}</h5>
                </a>
                <p>{{course.description}}</p>
                <p>Available Places: {{course.availableplaces}}</p>
            </div>
        </div>
    </div>

</div>
